{{>navbar}}
<div class='container'>
    <br>
    <h4> A message for administrators: </h4>
        <p>Please edit exhibits, employees, artifacts, and scheduling tabs accordingly. <br> The spring exhibit 
        begins on April 1, 2020. <br>
        <br>
        Some things to keep in mind - <br>
        <b> Exhibits </b> consist of 4 wings. <br>
        <b> Employees </b> can work in multiple wings and wings can have multiple employees. 
    </p>
</div>

<br>
<div class='mx-auto' style="display: block;  margin-left: auto;  margin-right: auto;  width: 20%;">

    <!-- counter from https://www.timeanddate.com/clocks/freecountdown.html -->
    <iframe src="http://free.timeanddate.com/countdown/i77e61l7/n215/cf100/cm0/cu4/ct0/cs0/ca0/co1/cr0/ss0/cac000/cpc000/pcfff/tc833891/fn3/fs100/szw320/szh135/tatSpring%20Exhibit%20Opening/tac000/tptTime%20since%20Event%20started%20in/tpc000/iso2020-04-01T08:00:00/bat2/bac333" allowTransparency="true" frameborder="0" width="322" height="137"></iframe>

    </div>

</div>

 <script type="text/javascript" src="/scripts/home.js"></script>
<script type="text/javascript">
        $(document).ready(function() {
            Handlebars.registerPartial('navbar', '{{navbar}}');
        })
    </script>
</div>
